body{direction:rtl;unicode-bidi:embed;}
.breadcrumb{ left: 0;right:auto;}
.flex-viewport, .portfolio_slider .flex-viewport{direction: ltr;}
.blog_holder.masonry article, .blog_holder.masonry_full_width article{text-align: right;}
.pull-left{float: right;}
.blog_holder article.format-quote .post_text .post_title, .blog_holder article.format-link .post_text .post_title{padding: 0 60px 0 0;}
.blog_holder.blog_small_image article .post_image, .blog_holder.blog_small_image article .post_text{ float: right;}
blockquote.with_quote_icon h5 {padding: 0 40px 0 0;}
#commentform  .three_columns>.column1,#commentform  .three_columns>.column2,#commentform  .three_columns>.column3{ float: right;}
#commentform .three_columns>.column1>.column_inner {padding: 0 0 0 15px;}
#commentform .three_columns>.column2>.column_inner {padding: 0 10px 0 5px;}
#commentform .three_columns>.column3>.column_inner {padding: 0 15px 0 0;}
.q_progress_bar{text-align: right;}
.q_progress_bar .progress_number{left: 0;right:auto;}
.q_progress_bar .progress_content{left: auto;right:0;}
.q_progress_bars_icons_inner .bar{float: right;}
.q_circles_holder .q_circle_outer{float: right;}
.qbutton i {
    margin: 0 10px 0 0;
}
.drop_down .second .inner ul.right li.sub a i.q_menu_arrow{-moz-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg);transform: rotate(0deg);}

.q_icon_with_title.right.very_large .icon_text_holder{ padding: 0 84px 0 0;}
.q_icon_with_title.right.tiny.square .icon_text_holder, .q_icon_with_title.right.medium .icon_text_holder {
    padding: 0 56px 0 0;
}
.q_icon_with_title .icon_text_holder{text-align:left;}
.q_icon_with_title.center .icon_text_holder{text-align:center;}
.q_icon_with_title.left_from_title .icon_text_inner{text-align:right;}
a.pp_next,a.pp_previous,a.pp_close,a.pp_arrow_previous, a.pp_arrow_next{text-indent: 10000px;}
.qbutton, .load_more a, .blog_load_more_button a, #submit_comment, .drop_down .wide .second ul li .qbutton, .drop_down .wide .second ul li ul li .qbutton{text-align: right;}
.qbutton.small i {margin: 0 10px 0 0;}
.qbutton.medium i {margin: 0 15px 0 0;}
.qbutton.large i {margin: 0 17px 0 0;}
.q_accordion_holder.accordion .ui-accordion-header .accordion_mark.left_mark{left: auto;right:0;}
.q_accordion_holder.accordion.without_icon .ui-accordion-header span.tab-title{padding: 0 63px 0 0;}
.q_accordion_holder.accordion div.accordion_content{padding: 0 63px 0 0;}
.latest_post_image{float: right;}
.latest_post_holder.image_in_box .latest_post_text{padding: 0 116px 0 0;}
.q_message a.close{left: -23px;right:auto;}
.q_message.with_icon .q_message_icon_holder {float: right;padding: 0 0 0 27px;}
.q_message.with_icon .message_text_holder {padding: 0 0 0 20px;}
.latest_post_holder.boxes>ul>li{float: right;margin: 0 0 0 2%;}
.q_dropcap.normal{right: 8px;left:auto;}
.q_dropcap{float: right;margin: 5px 0 0 20px;}
.q_dropcap.circle, .q_dropcap.square{margin: 5px 0 0 20px;}
.q_list.number ul > li:before{left: auto;right:0;}
.q_list.circle ul > li, .q_list.number ul > li{padding: 0 22px 0 0;}
.q_list.number.circle_number li{padding-right: 43px;padding-left: 0;}
.q_icon_list p{ padding: 0 38px 0 0;}
.q_list.circle ul > li:before{left: auto;right:0;}
.testimonials_holder .flex-direction-nav{ direction: ltr;}
.call_to_action .two_columns_75_25 > .column1{ float: right;}
.call_to_action .two_columns_75_25 > .column2{ float: right;}
.call_to_action .column2.button_wrapper { text-align: left;}
.call_to_action .column2.button_wrapper .qbutton{left: 0;right:auto;}
.call_to_action.with_icon .text_wrapper .call_to_action_text{padding: 0 54px 0 0;}
.fa.pull-left { margin-left: 0.3em;margin-right:auto;}
.q_price_table{float: right;margin-right: 2.5%;margin-left:0;}
.qode_pricing_tables .q_price_table:first-child{margin-right:0;}
.q_tabs .tabs-nav li{ float: right;}
.filter_holder ul li{ float: right;}
.projects_holder article a.lightbox, .portfolio_slider a.lightbox{ margin: 0 0 0 10px;}
.portfolio_gallery a{float: right;}
.portfolio_gallery a.v3{margin: 0 0 2% 2%;}
#contact-form .two_columns_50_50>.column1{float:right;}
#contact-form .two_columns_50_50>.column2{float:right;}
#contact-form .two_columns_50_50>.column1>.column_inner{padding: 0 0 0 10px;}
#contact-form .two_columns_50_50>.column2>.column_inner{padding: 0 10px 0 0;}
.carousel-inner .slider_content .text .qbutton.green{margin: 10px 0 0 10px;}
.q_slider{ direction: ltr;}
.slider_content_outer{direction: rtl;}
.comment_holder .comment .image{float: right;}
.comment_holder .comment .text{  padding: 0 100px 0 0;}
.comment_holder .comment-list li ul.children{padding: 0 70px 0 0;}
.footer_top .q_social_icon_holder i.simple_social{margin-left: 16px;margin-right: auto;}
.side_menu .q_font_awsome_icon i{ margin: 0 0 0 8px;}
.side_menu a.close_side_menu{left: 25px;right:auto;}
.shopping_cart_dropdown span.total{ float: left; padding: 0 8px 0 0;}
.shopping_cart_dropdown .qbutton{float: right;}
.shopping_cart_dropdown ul li{ text-align: right;}
.qode_search_form .container .qode_search_close{left:0;right:auto;}
.qode_search_form i{padding: 0 45px 0 0;float: right;}
.qode_search_form .container i{padding: 0;}
.qode_search_form input, .qode_search_form input:focus{float: right;padding: 0 10px 0 45px;}
.qode_search_form .container input{padding: 0 10px 0 0;}
.shopping_cart_dropdown span.total span{padding: 0 2px 0 0;}
nav.main_menu ul li{float: right;}
.logo_wrapper{direction: ltr;}
.side_menu_button_wrapper{direction: ltr;}
nav.mobile_menu{text-align: right;}
nav.mobile_menu ul>li.has_sub>span.mobile_arrow, nav.mobile_menu ul>li.has_sub>span.mobile_arrow{padding: 0 0 0 10px;float: left;text-align: left;left: 0;right:auto;}
.mobile_arrow .fa-angle-right:before{content: "\f104";}
nav.mobile_menu ul li ul li{margin: 0 20px 0 0;}
.gallery_holder ul li{float: right;}
a.pp_previous,a.pp_next,a.pp_close,a.pp_arrow_previous, a.pp_arrow_next{text-indent: 10000px;}
.cover_boxes ul li{float: right;margin-left: 20px;margin-right: 0;}
.cover_boxes ul li .box .thumb{float: right;margin-left: 20px;margin-right: 0;}
.cover_boxes ul li .box .box_content{right: 285px; left: auto;}
.woocommerce ul.products li.product{float:right;}
.woocommerce ul.products li.product .top-product-section{    text-align: right;}
.woocommerce ul.products li.product .add-to-cart-button-outer{margin-right: 50%;margin-left: auto;}
.woocommerce ul.products li.product .add-to-cart-button, .woocommerce ul.products li.product .added_to_cart, .woocommerce ul.products li.product a.qbutton.out-of-stock-button{margin-right: -50%;margin-left: auto;}
.woocommerce .button, .woocommerce-page .button, .woocommerce-page input[type="submit"], .woocommerce input[type="submit"], .woocommerce ul.products li.product .added_to_cart{text-align: right;}
.woocommerce ul.products li.product .added_to_cart{margin-right: -60px;margin-left: auto;}
.shopping_cart_dropdown .cart_list a > img{float: right;padding: 0 0 0 10px;}
.woocommerce .product .onsale{right: 10px;left:auto;}
.q_accordion_holder.boxed div.accordion_content{ padding-right: 26px;}
.woocommerce p.stars span, .woocommerce-page p.stars span{float: right;}
.woocommerce .product .single-onsale{ right: 20px;}
.woocommerce .product .images{ float: right; margin-left: 1.81818%; margin-right: 0;}
.woocommerce .summary{ float: left;}
.woocommerce div.product .cart .quantity{float: right; margin-left: 19px;margin-right: 0;}
.woocommerce .woocommerce-message a.button{ float: left;}
.woocommerce table th,.woocommerce table,.woocommerce table td{ text-align: right;}
.woocommerce table.cart div.coupon, .woocommerce-page table.cart div.coupon{ float: right;}
.woocommerce table.cart td.actions > .checkout-button, .woocommerce-page table.cart td.actions > .checkout-button{float: left; margin-right: 1.84502%;margin-left:auto;}
.woocommerce table.cart td.actions{text-align: left;}
.woocommerce table.cart div.coupon .input-text, .woocommerce-page table.cart div.coupon .input-text, .woocommerce.woocommerce-checkout div.coupon .input-text, .woocommerce-page.woocommerce-checkout div.coupon .input-text{margin-left: 15px;margin-right: auto;}
.select2-container .select2-choice .select2-arrow{left:0;right:auto;}
.woocommerce .col-1, .woocommerce .col-2{float:right;}
.woocommerce .col-1{ margin-left: 1.84502%; margin-right: 0;}
.chosen-container-single .chosen-single div{left:0;right:auto;}
.woocommerce form.checkout .col2-set .form-row{ float: right;margin-left: 3.7037%;margin-right:0;}
.woocommerce form.checkout .col2-set .form-row-last{margin-left:0;}
.woocommerce .order_details.clearfix li, .woocommerce-page .order_details.clearfix li{float: right; margin-left: 45px;margin-right:0;}
.woocommerce .addresses header{ text-align: right;}
aside.vertical_menu_area{right:0;left:auto;}
.vertical_menu_enabled #back_to_top,.vertical_menu_enabled #back_to_top.off,.vertical_menu_enabled #back_to_top.on{right:auto;left:25px;}
.popup_menu_holder_outer{right:0;left:auto;}
.vertical_area_background{right:0;left:auto;  background-position: left top;}
.vertical_logo_wrapper img{right:0;left:auto;}
.vertical_menu_enabled .q_slider, .vertical_menu_enabled .full_width, .vertical_menu_enabled .content .container, .vertical_menu_enabled .title_outer, .vertical_menu_enabled footer{ padding-right: 260px; padding-left: 0;}
.vertical_menu_area .q_social_icon_holder {
    margin: 0 0 2px 8px!important;
}
.qode_pricing_list .qode_pricing_item_text{ padding-left: 170px; padding-right: 0;}
.qode_pricing_list .qode_pricing_item_price{right:auto;left:0;  text-align: left;}
.vertical_menu_enabled .content .title .container{padding-right: 0;}
.vertical_menu_toggle .second .inner ul ul li a{padding-right: 15px; padding-left: 0;}
.header_top #lang_sel .lang_sel_sel:after, .header_top #lang_sel_click .lang_sel_sel:after{margin-right: 5px;margin-left: auto;}
.header_top #lang_sel img.iclflag, .header_top #lang_sel_click img.iclflag, .header_top #lang_sel_list img.iclflag{margin-left: 5px;margin-right: auto;}
.projects_holder article .portfolio_like, .portfolio_slider .portfolio_like{ margin: 0 10px 0 0;}
.q_icon_with_title .icon_title_holder .icon_holder{ padding: 0 0 0 15px;}
.qode_pricing_list .qode_pricing_item_text{ padding-left: 170px; padding-right: 0;}
.qode_pricing_list .qode_pricing_item_price{text-align: left;left:0;right:auto;}
.woocommerce .woocommerce-result-count{float: left;text-align: left;}
.flexslider.widget_flexslider h3, .drop_down .wide .second ul li ul li .flexslider.widget_flexslider h3, .drop_down .wide .second ul li ul li .flexslider.widget_flexslider h3 a,.menu_recent_post_text{ direction: rtl;}
.shopping_cart_outer{float:right;}
.woocommerce aside ul.product_list_widget li img, aside ul.product_list_widget li img{float: right; margin-left: 7.84314%;margin-right:0;}
.widget #searchsubmit{float:left;}
.widget #searchform input[type="text"]{float:right;}
.woocommerce .widget_shopping_cart_content a.checkout{float:left;}
.title{text-align: right;}
.title .separator.small.left{margin-left:auto;margin-right:0;}
.projects_masonry_holder a.lightbox {margin: 0 0 0 10px;}

a.pp_next,a.pp_previous{text-indent: 10000px;}
.q_icon_with_title.small.square .icon_text_holder, .q_icon_with_title.small.boxed .icon_text_holder, .q_icon_with_title.small.circle .icon_text_holder, .q_icon_with_title.small.icon_image .icon_text_holder { padding: 0 72px 0 0 !important;}
.chosen-container .chosen-drop{left: 9999px;}
a.pp_previous,a.pp_next,a.pp_arrow_previous, a.pp_arrow_next,a.pp_close{text-indent: 10000px !important;direction:ltr;}
.qode_image_gallery_no_space .controls a.prev-slide span i,.qode_image_gallery_no_space .controls a.next-slide span i{
    margin-top: 12px;
}
.qode_image_gallery_no_space .controls a.prev-slide{
left: 20px;
}
body.page-template-blog-masonry-full-width-php .content .full_width {
    padding: 0 45px 25px 20px;
}
body.page-template-blog-masonry-full-width-php.vertical_menu_enabled .content .full_width {
    padding-right: 305px;padding-left: 20px;
}
header.stick_with_left_right_menu nav.main_menu.right_side > ul{text-align:left;display: inline-block;
    vertical-align: middle;}
header.stick_with_left_right_menu nav.main_menu.right_side{text-align:left;float: right;}
header.stick_with_left_right_menu.sticky nav.main_menu.left_side > ul > li:first-child, header.stick_with_left_right_menu.sticky nav.main_menu.right_side > ul > li:last-child {
    margin: 0 !important;
}
.qode_search_form .qode_icon_in_search{float:right;padding: 0 45px 0 0;}
.separator.small.left {
    margin: 10px auto 20px 0;
}
.q_tabs.boxed {
    text-align: right;
}
.q_tabs.boxed .tabs-container {
    text-align: right;
}

.vertical_menu_enabled .carousel-inner:not(.relative_position){right: 260px !important;left: auto !important;}
.latest_post_holder.boxes.two_columns > ul > li:nth-child(2n), .latest_post_holder.boxes.three_columns > ul > li:nth-child(3n), .latest_post_holder.boxes.four_columns > ul > li:nth-child(4n), .latest_post_holder.dividers.two_columns > ul > li:nth-child(2n), .latest_post_holder.dividers.three_columns > ul > li:nth-child(3n), .latest_post_holder.dividers.four_columns > ul > li:nth-child(4n){margin-left:0;}
header .header_top .q_social_icon_holder{float:right;}
.qode_search_form_2 .qode_search_submit{left: 45px;right:auto;}
.qode_search_form_2 .container_inner .qode_search_submit {
    left: 0;right:auto;
}
.projects_holder.hover_text.no_space:not(.portfolio_full_image) > .mix {
    float: right;
}
.woocommerce div.product .images .thumbnails a{margin-left: 3.409090909090909%;margin-right:0;}
.woocommerce div.product .images .thumbnails a:nth-child(3n) {
    margin-left: 0;
}
.vertical_menu_hidden aside.vertical_menu_area{    right: -220px;    left: auto;-webkit-transition:right .15s ease-out;-moz-transition:right .15s ease-out;-o-transition:right .15s ease-out;-ms-transform:right .15s ease-out;transition:right .15s ease-out}
.vertical_menu_hidden.vertical_menu_hidden_with_logo aside.vertical_menu_area, .vertical_menu_hidden.vertical_menu_hidden_with_logo .vertical_area_background{    right: -190px;    left: auto;}
.vertical_menu_hidden.vertical_menu_width_290 aside.vertical_menu_area, .vertical_menu_hidden.vertical_menu_width_290 aside.vertical_menu_area .vertical_area_background{    right: -250px;    left: auto;}
.vertical_menu_hidden.vertical_menu_hidden_with_logo.vertical_menu_width_290 aside.vertical_menu_area, .vertical_menu_hidden.vertical_menu_hidden_with_logo.vertical_menu_width_290 aside.vertical_menu_area .vertical_area_background{    right: -220px;    left: auto;}
.vertical_menu_hidden.vertical_menu_hidden_with_logo .vertical_menu_area:not(.active) .vertical_menu_area_inner{    right: -30px;    left: auto;}
.vertical_menu_hidden.vertical_menu_hidden_with_logo .vertical_menu_area .vertical_menu_area_inner{    right: 0;  left: auto;}
.vertical_menu_hidden_button{    right: 0;  left: auto;}
.vertical_menu_hidden .vertical_menu_area_bottom_logo {
    right: 0;left:auto;
    -webkit-transition: right .15s ease-in-out;
    -moz-transition: right .15s ease-in-out;
    -ms-transition: right .15s ease-in-out;
    -o-transition: right .15s ease-in-out;
    transition: right .15s ease-in-out;
}
.vertical_menu_hidden.vertical_menu_hidden_with_logo.vertical_menu_width_290 aside.vertical_menu_area.active, .vertical_menu_hidden.vertical_menu_hidden_with_logo.vertical_menu_width_290 aside.vertical_menu_area.active .vertical_area_background, .vertical_menu_hidden.vertical_menu_hidden_with_logo.vertical_menu_width_350 aside.vertical_menu_area.active, .vertical_menu_hidden.vertical_menu_hidden_with_logo.vertical_menu_width_350 aside.vertical_menu_area.active .vertical_area_background, .vertical_menu_hidden.vertical_menu_hidden_with_logo.vertical_menu_width_400 aside.vertical_menu_area.active, .vertical_menu_hidden.vertical_menu_hidden_with_logo.vertical_menu_width_400 aside.vertical_menu_area.active .vertical_area_background{right:0;left:auto;}
.vertical_menu_enabled.vertical_menu_hidden.vertical_menu_hidden_with_logo .full_screen_holder, .vertical_menu_enabled.vertical_menu_hidden.vertical_menu_hidden_with_logo .q_slider, .vertical_menu_enabled.vertical_menu_hidden.vertical_menu_hidden_with_logo .full_width, .vertical_menu_enabled.vertical_menu_hidden.vertical_menu_hidden_with_logo .content .container, .vertical_menu_enabled.vertical_menu_hidden.vertical_menu_hidden_with_logo .title_outer, .vertical_menu_enabled.vertical_menu_hidden.vertical_menu_hidden_with_logo footer, .boxed.vertical_menu_enabled.vertical_menu_hidden.vertical_menu_hidden_with_logo, .boxed.vertical_menu_enabled.vertical_menu_hidden.vertical_menu_hidden_with_logo footer.uncover, .vertical_menu_enabled.vertical_menu_hidden.vertical_menu_hidden_with_logo .full_screen_holder{padding-right:70px;padding-left:0;}
.vertical_menu_enabled.vertical_menu_hidden .full_screen_holder, .vertical_menu_enabled.vertical_menu_hidden .q_slider, .vertical_menu_enabled.vertical_menu_hidden .full_width, body.page-template-blog-masonry-full-width-php.vertical_menu_enabled.vertical_menu_hidden .content .full_width, .vertical_menu_enabled.vertical_menu_hidden .content .container, .vertical_menu_enabled.vertical_menu_hidden .title_outer, .vertical_menu_enabled.vertical_menu_hidden footer, .boxed.vertical_menu_enabled.vertical_menu_hidden, .boxed.vertical_menu_enabled.vertical_menu_hidden footer.uncover, .vertical_menu_enabled.vertical_menu_hidden .full_screen_holder{padding-right:40px;padding-left:0;}
.vertical_menu_hidden .vertical_menu_area_bottom_logo.active{    right: -70px;  left: auto;}
.vertical_menu_hidden aside.vertical_menu_area.active, .vertical_menu_hidden aside.vertical_menu_area.active .vertical_area_background{    right: 0;  left: auto;}
.blog_vertical_loop_button {
    text-align: right;
}
h2,h3,h5,h6,nav.main_menu > ul > li > a,.drop_down .second .inner ul li a,.drop_down .second .inner ul li h5,.drop_down .wide .second .inner > ul > li > a,.title h1,.q_counter_holder p.counter_text ,
.qbutton,.load_more a,.blog_load_more_button a,#submit_comment,.drop_down .wide .second ul li .qbutton,.drop_down .wide .second ul li ul li .qbutton,.call_to_action .text_wrapper .call_to_action_text,
.portfolio_slides .hover_feature_holder_inner .portfolio_title,.filter_holder ul li span,.q_tabs .tabs-nav li a,.q_accordion_holder.accordion .ui-accordion-header,.q_accordion_holder.accordion.with_icon .ui-accordion-header,
blockquote h5,.q_message .message_text,.more_facts_button .more_facts_button_text,.single_tags  a,.widget .tagcloud a ,.footer_bottom ul li a,.q_steps_holder .circle_small .step_title,
.carousel-inner .slide_subtitle,nav.content_menu ul li a span,input.wpcf7-form-control.wpcf7-submit,div.wpcf7-response-output,body .gform_wrapper   input[type="button"],body .gform_wrapper   input[type="submit"],
body .gform_wrapper   input[type="reset"],body .gform_wrapper  div.validation_error,body .gform_wrapper  .gform_confirmation_message,nav.vertical_menu > ul > li > a ,nav.popup_menu ul li a,nav.popup_menu ul li h6,
#panel-admin p,#panel-admin h6,#toolbar .toolbar_image .qbutton,.woocommerce div.message,.woocommerce .woocommerce-message,.woocommerce .woocommerce-error,.woocommerce .woocommerce-info,.myaccount_user,
.woocommerce .button,.woocommerce-page .button,.woocommerce-page input[type="submit"],.woocommerce input[type="submit"],.woocommerce ul.products li.product .added_to_cart ,.woocommerce .product .onsale,
.woocommerce .product .single-onsale,.woocommerce .product h1.product_title,.woocommerce .checkout table.shop_table thead tr th,.woocommerce-page .checkout table.shop_table thead tr th,.woocommerce table.cart thead tr th,
.woocommerce-page table.cart thead tr th,.woocommerce-account table.my_account_orders thead tr th,.woocommerce-page table.my_account_orders thead tr th,.woocommerce .widget_price_filter .price_label,
.woocommerce-page .widget_price_filter .price_label,.shopping_cart_dropdown ul li,.shopping_cart_dropdown span.total{letter-spacing: 0 !important;}
.columns-4 ul.products li.product{margin-left: 2.272727272727273%;margin-right: 0;}
.gallery_holder ul.gallery_with_space.v3 li, .wpb_gallery_slides .gallery_holder ul.gallery_with_space.v3 li {
    margin: 0 0 2% 2%;
}
.gallery_holder ul.gallery_with_space.v3 li:nth-child(3n), .wpb_gallery_slides .gallery_holder ul.gallery_with_space.v3 li:nth-child(3n) {
    margin-left: 0;
}
.blog_text_holder{direction:rtl;}
.blog_text_holder.info_bottom .blog_text_date_holder{border-left: 1px solid #ebebeb;border-right: none;}
.blog_text_holder.info_bottom .blog_text_holder_inner{text-align: right;}
.latest_post_holder .latest_post_date{float:right;margin-left: 25px;margin-right: 0;}
.latest_post_holder.dividers .latest_post_date{    margin: 0 0 0 15px;border-left: 1px solid #ebebeb;border-right: none;}

/* menu */
nav.main_menu{text-align: right;}
.drop_down .second .inner ul li.sub a i.q_menu_arrow{float: left;}
.drop_down .second .inner ul li.sub a .fa-angle-right:before{content: "\f104";}
.drop_down .second .inner ul li ul{right: 100%;left:auto;}
.drop_down .wide .second ul li{float: right;}
.drop_down .wide .second ul li ul{right: 0;left:auto;}
.drop_down .wide .second ul li{border-right: 1px solid #3D3D3D;border-left: none;}
.drop_down .wide:not(.right_position) .second ul li:first-child, .drop_down .wide.right_position .second ul li:last-child{border-right-color: transparent;}
.drop_down .wide.icons .second i{float:right;}
/* end menu */

@media only screen and (min-width: 768px){
.columns-4 .container_inner>ul.products li.product:nth-child(4n), .columns-4 .products>ul.products li.product:nth-child(4n), div.woocommerce.columns-4 ul.products li.product:nth-child(4n), .columns-4 .cross-sells>ul.products li.product:nth-child(4n), .columns-4 .woocommerce_with_sidebar ul.products li.product:nth-child(3n){margin-left:0;}
}

@media only screen and (max-width: 768px){
.columns-4 .container_inner>ul.products li.product:nth-child(2n), .columns-4 .products>ul.products li.product:nth-child(2n), div.woocommerce.columns-4 ul.products li.product:nth-child(2n), .columns-4 .cross-sells>ul.products li.product:nth-child(2n), .columns-4 .woocommerce_with_sidebar ul.products li.product:nth-child(2n){margin-left:0;}
.columns-4 .woocommerce_with_sidebar ul.products li.product, .columns-4 .container_inner>ul.products li.product, .columns-4 .cross-sells>ul.products li.product, .columns-4 .products>ul.products li.product, div.woocommerce.columns-4 ul.products li.product{    margin-left: 3.255813953488372%;    margin-right: 0;}

}
@media only screen and (max-width: 1000px){
.qode_pricing_tables.four_columns .q_price_table:nth-child(2n+1){margin-right:0;}
.vertical_menu_enabled .q_slider, .vertical_menu_enabled .full_width, .vertical_menu_enabled .content .container, .vertical_menu_enabled .title_outer, .vertical_menu_enabled footer{padding-right: 0;}
body.page-template-blog-masonry-full-width-php.vertical_menu_enabled .content .full_width {
    padding-right: 45px !important;padding-left: 20px !important;
}
.vertical_menu_enabled .q_slider, .vertical_menu_enabled .full_width, .vertical_menu_enabled .content .container, .vertical_menu_enabled .title_outer, .vertical_menu_enabled footer{padding-right: 0 !important;}
}

@media only screen and (min-width: 1000px){
.vertical_menu_outside_paspartu .paspartu_middle_inner{padding-right: 260px;padding-left: 0;}
.vertical_menu_outside_paspartu .paspartu_left{right: 260px;left: auto;}
}

@media only screen and (min-width: 600px){
.columns-3 ul.products li.product{    margin-left: 2.272727272727273%;margin-right:0;}
.columns-3 .container_inner>ul.products li.product:nth-child(3n), .columns-3 .products>ul.products li.product:nth-child(3n), div.woocommerce.columns-3 ul.products li.product:nth-child(3n), .columns-3 .cross-sells>ul.products li.product:nth-child(3n), .columns-3 .woocommerce_with_sidebar ul.products li.product:nth-child(2n) {
    margin-left: 0;
}
}

@media only screen and (max-width: 600px){
#commentform .three_columns>.column1>.column_inner {padding: 0;}
#commentform .three_columns>.column2>.column_inner {padding: 0;}
#commentform .three_columns>.column3>.column_inner {padding: 0;}
.qode_pricing_tables .q_price_table{margin-right:0;}
#contact-form .two_columns_50_50>.column1>.column_inner{padding: 0;}
#contact-form .two_columns_50_50>.column2>.column_inner{padding: 0;}
.woocommerce .product .images{margin-left:0;}
}

.q_masonry_blog article, .full_width .grid_section .q_masonry_blog article {
	text-align: right;
}

.four_columns>.column1,
.four_columns>.column2,
.four_columns>.column3,
.four_columns>.column4,
.two_columns_66_33>.column2,
.two_columns_66_33>.column1,
.two_columns_33_66>.column1,
.two_columns_33_66>.column2,
.two_columns_75_25>.column1,
.two_columns_75_25>.column2,
.two_columns_25_75>.column1,
.two_columns_25_75>.column2,
.two_columns_50_50>.column1,
.two_columns_50_50>.column2,
.three_columns>.column1,
.three_columns>.column2,
.three_columns>.column3,
.five_columns>.column1,
.five_columns>.column2,
.five_columns>.column3,
.five_columns>.column4,
.five_columns>.column5 {
	float: right;
}


.two_columns_66_33>.column1>.column_inner{
	padding: 0 0 0 20px;
}

.two_columns_66_33>.column2>.column_inner{
	padding: 0 20px 0 0;

}

.two_columns_33_66>.column1>.column_inner{
	padding: 0 0 0 20px;
}

.two_columns_33_66>.column2>.column_inner{
	padding: 0 20px 0 0;
}

.two_columns_75_25>.column1>.column_inner{
	padding: 0 0 0 20px;
}

.two_columns_75_25>.column2>.column_inner{
	padding: 0 20px 0 0;
}

.two_columns_25_75>.column1>.column_inner{
	padding: 0 0 0 20px;
}

.two_columns_25_75>.column2>.column_inner{
	padding: 0 20px 0 0;
}

.two_columns_50_50>.column1>.column_inner{
	padding: 0 0 0 10px;
}

.two_columns_50_50>.column2>.column_inner{
	padding: 0 10px 0 0;
}

.three_columns>.column1>.column_inner{
	padding: 0 0 0 15px;
}

.three_columns>.column2>.column_inner{
	padding: 0 10px 0 5px;
}

.three_columns>.column3>.column_inner{
	padding: 0 15px 0 0;
}

.four_columns>.column1>.column_inner{
	padding: 0 0 0 15px;
}

.four_columns>.column2>.column_inner{
	padding: 0 5px 0 10px;
}

.four_columns>.column3>.column_inner{
	padding: 0 10px 0 5px;
}

.four_columns>.column4>.column_inner{
	padding: 0 15px 0 0;
}

.five_columns>.column1>.column_inner,
.five_columns>.column2>.column_inner,
.five_columns>.column3>.column_inner,
.five_columns>.column4>.column_inner{
	margin: 0 0 0 2.5%;
}

.five_columns>.column5>.column_inner{
	margin: 0;
}
